<!DOCTYPE html>
<title>话语分析与Python</title>

<link rel="stylesheet" href="/templates/css/jquery.jsonview.css" />
{#<script src="https://csdnimg.cn/public/common/libs/jquery/jquery-1.9.1.min.js" type="text/javascript"></script>#}
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script type="text/javascript" src="/templates/js/jquery.jsonview.js", href=""></script>
<h1>话语分析与Python</h1>
<a href="{{ url_for('upload_file') }}">文件上传</a> /
<a href="{{ url_for('manage_dir') }}">文件管理</a>/
<a href="{{ url_for('manage_search') }}">句子检索</a>
<hr>

<input id="reset_index" type="button" value="重置倒排索引"/><div style="color: crimson;margin-bottom: 30px">说明:如果上传了新的数据，请点击该按钮重置倒排索引,再次点击可查询是否构建完成</div>
<form id="demo_form" method="POST" enctype="multipart/form-data">
    <input id="search_text" type="text" name="texts" placeholder="搜索词/短语/句子"/>
    <input type="submit" value="搜索" />
</form>

<div>
    <div id="word_show" style="width: 50%;margin-top: 20px;border: #b8dcff solid;float: left;color: crimson;">点击下方文字，显示搭配分析</div>
    <div id="phrase_show" style="width: 40%;margin-top: 20px;border: #b8dcff solid;float: right;">
        <div style="color: crimson">一些短语</div>
        {% for line in lines %}
            <div>{{ line }}</div>
        {% endfor %}
    </div>
    <div id="json_show" style="width: 50%;margin-top: 20px;border: #b8dcff solid;float: left;">结果显示在这里</div>
</div>

<script>
    var show_json = function(json){
        var args = {
            collapsed: true //是否折叠
        };
        $('#json_show').JSONView(json, args);
    };

    function get_word_freq(word, num, elem) {
        var sentences = elem.next().text();
        $.ajax({
            url:"/match_analysis",
            type:'POST',
            dataType:"json",
            data: {"word":word, "sentences":sentences, "num":num},  // 这个序列化传递很重要
            success:function (resp) {
                // window.location.href = "/admin/page";
                if(resp.code==1){
                    datas = resp.data;
                    console.log(datas);
                    $("."+word).remove();
                    for(var i = 0; i < datas.length; i++){
                        var w = datas[i][0];
                        var count = datas[i][1];
                        var word_class_name = word.replace(/\s*/g,"");
                        elem.after("<div class='"+word_class_name+"' style='color: cornflowerblue'>&nbsp;&nbsp;&nbsp;&nbsp;"+w+" : "+count+"</div>")
                    }
                }
            }
        })
    }

    function isNumber(val) {
        var regPos = /^\d+$/; //非负浮点数
        if(regPos.test(val)) {
                return true;
            } else {
                return false;
            }
    }

    function set_buttom(json) {
        for (var key in json){
            var args = JSON.stringify(json[key]);
            var text = "<div class='onclick' style='cursor:pointer;color: black'>"+key+"</div>";
            console.log(text);
            $("#word_show").append(text);
            $("#word_show").append("<div style='display:none;'>"+JSON.stringify(json[key])+"</div>");
        }
        $('.onclick').click(function(event) {
            var elem =  $(this);
            var vaule = $(this).next().text();
            var word = $(this).text();
            var word_class_name = word.replace(/\s*/g,"");
            if ($("."+word_class_name).length>0) {
                $("." + word_class_name).remove();
            }else {
                var num=prompt("分析前后几个词", 5);
                if (!isNumber(num)) {
                    alert("请输入正整数！")
                }else {
                    get_word_freq(word, num, elem);
                }
            }
        });
    };


    $("#demo_form").submit(function(e){
        e.preventDefault();

        $.ajax({
            url:"/search",
            type:'POST',
            dataType:"json",
            data: $(this).serialize(),  // 这个序列化传递很重要
            success:function (resp) {
                // window.location.href = "/admin/page";
                $("#word_show").children().remove();
                if(resp.code==1){
                    console.log(resp.data);
                    {#alert(JSON.stringify(resp.data));#}
                    set_buttom(resp.data);
                    show_json(resp.data)
                }
            }
        })
    });

    function submit_task(){
        $.ajax({
            url:"/reset_index/submit",
            type:'POST',
            dataType:"json",
            success:function (resp) {
                // window.location.href = "/admin/page";
                if(resp.code==1){
                    console.log(resp.msg);
                    alert("成功！后台正在处理！处理时间随数据量增加而增加。");
                }else if (resp.code==0){
                    console.log(resp.msg);
                    alert("失败！上一个任务正在处理,请稍后再试！");
                }else {
                    console.log(resp.msg);
                    alert("url错误");
                }
            }
        })
    }

    $("#reset_index").click(function(e){
        e.preventDefault();

        $.ajax({
            url:"/reset_index/confirm",
            type:'POST',
            dataType:"json",
            success:function (resp) {
                // window.location.href = "/admin/page";
                if(resp.code==1){
                    console.log(resp.msg);
                    var r=confirm("上传构建任务已完成，是否重新构建倒排索引？");
                    if (r==true){
                        submit_task()
                    } else{
                        console.log("你按下了\"取消\"按钮!");
                    }

                }else if (resp.code==0){
                    console.log(resp.msg);
                    alert("失败！上一个任务正在处理,请稍后再试！");
                }else {
                    console.log(resp.msg);
                    alert("url错误");
                }
            }
        })
    });
</script>
