<!DOCTYPE html>
<title>话语分析与Python</title>

<link rel="stylesheet" href="/templates/css/jquery.jsonview.css" />
{#<script src="https://csdnimg.cn/public/common/libs/jquery/jquery-1.9.1.min.js" type="text/javascript"></script>#}
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script type="text/javascript" src="/templates/js/jquery.jsonview.js", href=""></script>
<h1>词频分析</h1>
<a href="{{ url_for('upload_file') }}">文件上传</a> /
<a href="{{ url_for('manage_dir') }}">文件管理</a>/
<a href="{{ url_for('manage_search') }}">句子检索</a>
<hr>

<input id="reset_index" type="button" value="重置倒排索引"/><div style="color: crimson;margin-bottom: 30px">说明:如果上传了新的数据，请点击该按钮重置倒排索引,再次点击可查询是否构建完成</div>
<form id="demo_form" method="POST" enctype="multipart/form-data">
    <input id="search_text" type="text" name="texts" placeholder="搜索词/短语/句子"/>
    <input type="submit" value="搜索" />
</form>


<div id="json_show" style="width: auto;margin-top: 20px;border: #b8dcff solid">结果显示在这里</div>

<script>
    var show = function(json){
        var args = {
            collapsed: true //是否折叠
        };
        $('#json_show').JSONView(json, args);
    };

    $("#demo_form").submit(function(e){
        e.preventDefault();

        $.ajax({
            url:"/search",
            type:'POST',
            dataType:"json",
            data: $(this).serialize(),  // 这个序列化传递很重要
            success:function (resp) {
                // window.location.href = "/admin/page";
                if(resp.code==1){
                    console.log(resp.data);
                    {#alert(JSON.stringify(resp.data));#}
                    show(resp.data)
                }
            }
        })
    });

    $("#reset_index").click(function(e){
        e.preventDefault();

        $.ajax({
            url:"/reset_index",
            type:'POST',
            dataType:"json",
            success:function (resp) {
                // window.location.href = "/admin/page";
                if(resp.code==1){
                    console.log(resp.data);
                    alert("成功！后台正在处理！处理时间随数据量增加而增加。");
                }else {
                    console.log(resp.data);
                    alert("失败！上一个任务正在处理,请稍后再试！");
                }
            }
        })
    });
</script>
