<!DOCTYPE html>
<title>词频分析</title>
<h1>词频分析</h1>
<a href="{{ url_for('upload_file') }}">文件上传</a> /
<a href="{{ url_for('manage_dir') }}">文件管理</a>/
<a href="{{ url_for('manage_search') }}">句子检索</a>
<hr>

<p>领域词语/短语分析:</p>
<hr>
<table border="1">
<tr>
<th colspan="2">领域一</th>
<th colspan="2">领域二</th>
</tr>
<tr>
<th>主题词语</th>
<th>主题短语</th>
<th>主题词语</th>
<th>主题短语</th>
</tr>
{% for w1, w2, p1, p2 in datas %}
    <tr>
    <td>{{ w1 }}</td>
    <td>{{ w2 }}</td>
    <td>{{ p1 }}</td>
    <td>{{ p2 }}</td>
    </tr>
{% endfor %}
</table>
<hr>